# ========================
# === Flutter & Dart ===
# ========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# ========================
# === Java / Spring Boot ===
# ========================
**/target/
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Maven
.mvn/
.settings/

# Java
*.class

# ========================
# === IDE & OS Specific ===
# ========================
*.iml
*.ipr
*.iws
.idea/
.vscode/       # ← nếu không muốn đẩy config VSCode
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
